.product_card{
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    padding: 15px;
    border: .5px solid rgb(250, 248, 248);
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgb(177, 177, 177); */
    margin: 0 0 30px 0;
    position: relative;
    /* border-radius: 10px; */
    background-color: rgb(250, 247, 247);
}

.product_card:hover{
    box-shadow: 0 0 15px rgb(48, 48, 48);
    border-radius: 10px;
    background-color: floralwhite;
    transform: scale(1.02);
}

.product_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    /* position: relative; */
    border-radius: 20px 10px;
    border: 2px solid firebrick;
    /* transform: scaleX(1.11); */
}

.product_card img:hover{
    /* transform: scale(1.02); */
}

.product_box{
    border-bottom: 1.5px solid rgb(190, 119, 119);
    margin-top: 2px;
    padding: 8px;

}
.product_card input{
    position: absolute;
    height: 25px;
    width: 25px;
    z-index: 4;
}
.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.product_card h1{
    color: rgb(187, 19, 61);
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(20, 19, 78);
    height: 50px;
    font-weight: 400;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    color: black;
    letter-spacing: 600;
    font-weight: 600;
    border-radius: 5px;filter: drop-shadow(3px 2px 3px);
}


#btn_buy{
    background: rgb(32, 95, 95);
    margin-right: 5px;
}

#btn_view{
    background: rgb(12, 77, 107);
    margin-left: 5px;
}

#btn_view:hover{
    transform: scale(1.05);
}
#btn_buy:hover{
    transform: scale(1.05);
}


