.cart{
    position: relative;
    border: 1px solid #ccc;
    transform: rotateY(0.95);
    padding: 5px;
    margin: 20px 5px;
    background-color: #fff;
  
}

.amount span{
    color: crimson;
    padding: 0 20px;
}

.amount button{
    width: 40px;
    height: 40px;
    border: 2px solid #777;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.delete{
    position: absolute;
    top: 0;
    right: 15px;
    color: crimson;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.total{
    width: 100%;
    border-top: hotpink 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.totalCart{
    width: 80%;
    height: 50px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.total h4 span{
    color: crimson;
}



